html { 
     background-color: lightgray; 
     font-family: arial;
 }
 body {
 	width: 1024px;
 	margin: 0 auto;
 	background-color: white;
 	background-image: url(img/aaea-sfs023.jpg);
 	background-repeat: no-repeat;
     padding-top: 100px;
 }
 div {
     background-color: rgba(255, 255, 255, .4);
     height: 80px;
     box-shadow: rgba(0, 0, 0, .4) 0 1px 0;
 }
h1 {
     color: white;
     font-size: 60px;
     padding: 5px 0 0 40px;
     text-shadow: rgba(0, 0, 0, 0.8) 2px  2px 2px;  
}
h2, p {
     font-style: italic;
}
h2 {
 border-bottom: 2px solid lightgray;
 margin: 20px 30px 0 30px;
 padding-top: 20px;
}
p {
     font-size: 15px;
     padding: 0 30px 30px 55px;
     text-align: justify;
}
p::first-letter {
     font-family: "Comic Sans MS";
     font-size: 15px;
}